In [1]:
import pandas as pd

# Day 1

In [135]:
df_example = pd.read_csv('day1/input1_example.txt',header=None, names=["SonarSweep"])
df = pd.read_csv('day1/input1.txt',header=None, names=["SonarSweep"])

In [136]:
def LambdaIncrease(df, ColName, row):
    if(row.name > 0):
        if df.iloc[row.name -1][ColName] < row[ColName]:
            return True
    
    return False

def CountIncrease (df,ColName):
    df["increase"] = df.apply(lambda x:LambdaIncrease(df,ColName, x),axis=1)
    return len(df[df['increase'] == True].index)

In [137]:
print('Example Step 1: ' + str(CountIncrease(df_example,'SonarSweep')))
print('Step 1 : '+ str(CountIncrease(df,'SonarSweep')))

Example Step 1: 7
Step 1 : 1374

In [138]:
def LambdaSum(df,row):
    if((row.name + 2) in df.index):
        return df[(df.index >= (row.name)) & (df.index <= (row.name + 2))]["SonarSweep"].sum()
    
def CountIncreasSum(df):
    df['Sum'] = df.apply(lambda x:LambdaSum(df, x),axis=1)
    return CountIncrease(df,'Sum')

In [139]:
print('Example Step 2: ' + str(CountIncreasSum(df_example)))
print('Step 2 : '+ str(CountIncreasSum(df)))

Example Step 2: 5
Step 2 : 1418

# Day 2

In [161]:
df_example = pd.read_csv('day2/input1_example.txt',header=None,sep=" ", names=["Moove","Value"])
df = pd.read_csv('day2/input1.txt',header=None,sep=" ", names=["Moove","Value"])

In [162]:
def CalculPositionAndDepth(df):
    HorizontalPosition = df[(df['Moove'] == 'forward')]['Value'].sum()
    depth =  df[(df['Moove'] == 'down')]['Value'].sum() - df[(df['Moove'] == 'up')]['Value'].sum()
    return HorizontalPosition * depth

In [163]:
print('Example Step 1 : ' + str(CalculPositionAndDepth(df_example)))
print('Step 1 : ' + str(CalculPositionAndDepth(df)))

Example Step 1 : 150
Step 1 : 2019945

In [164]:
#Je calcule la valeur de aim en prenant en comptant toutes les Value précédentes de la ligne courante
#Je filtre sur le Moove 'down' ou 'up'
def LambdaAim(df,row):
     return df[(df.index <= row.name) & (df['Moove'] == 'down')]['Value'].sum() - df[(df.index <= row.name) & (df['Moove'] == 'up')]['Value'].sum()

     Moove  Value  aim
0  forward      5    0
1     down      5    5
2  forward      8    5
3       up      3    2
4     down      8   10
5  forward      2   10

In [178]:
def CalculPositionAndDepthWithAim(df):
    
    df['aim'] = df.apply(lambda x:LambdaAim(df,x),axis=1)

    HorizontalPosition = df[(df['Moove'] == 'forward')]['Value'].sum()
    depth =  df[(df['Moove'] == 'down')]['Value'].sum() - df[(df['Moove'] == 'up')]['Value'].sum()
    #Je calcul la valeur de 'depth' a partir de la colonne 'aim'
    depth = (df[(df['Moove'] == 'forward')]['aim'] * df[(df['Moove'] == 'forward')]['Value']).sum()
    
    return HorizontalPosition * (depth)

In [180]:
print('Example Step 2 : ' + str(CalculPositionAndDepthWithAim(df_example)))
print('Step 2 : ' + str(CalculPositionAndDepthWithAim(df)))

Example Step 2 : 900
Step 2 : 1599311480

# Day 3

In [274]:
df_example = pd.read_csv('day3/input1_example.txt',header=None,names=['Col'], dtype=str)
df = pd.read_csv('day3/input1.txt',header=None,names=['Col'], dtype=str)

     0  1  2  3  4  5  6  7  8  9 10 11
0    0  1  1  1  0  1  1  0  1  1  1  0
1    0  1  0  1  1  0  0  0  1  1  0  1
2    1  0  0  1  1  1  0  0  0  1  1  0
3    0  1  1  1  1  0  1  0  1  0  0  0
4    1  0  1  1  0  1  0  0  0  1  0  0
..  .. .. .. .. .. .. .. .. .. .. .. ..
995  0  0  1  1  0  0  0  1  0  1  1  1
996  0  0  0  0  1  0  0  0  1  1  1  0
997  0  1  1  0  0  1  0  0  1  1  1  0
998  1  1  1  1  0  1  1  0  1  0  0  1
999  0  0  1  0  0  0  0  1  1  0  0  0

[1000 rows x 12 columns]

In [276]:
def CalculGammaAndEpsilon(df):
    
    dfResult = df['Col'].apply(lambda x: pd.Series(list(str(x))))
    BinaryGammaRate = ''
    BinaryEpsilon = ''
    for i in range(len(dfResult.columns)):
        BinaryGammaRate += str(dfResult[i].value_counts().idxmax())
        BinaryEpsilon += str(dfResult[i].value_counts().idxmin())
    
    return (BinaryGammaRate,BinaryEpsilon)

In [278]:
BinaryGamma, BinaryEpsilon = CalculGammaAndEpsilon(df_example)
print('Example Step 1  : ' + str(int(BinaryGamma, 2) * int(BinaryEpsilon, 2)))

BinaryGamma, BinaryEpsilon = CalculGammaAndEpsilon(df)
print('Step 1  : ' + str(int(BinaryGamma, 2) * int(BinaryEpsilon, 2)))

Example Step 1  : 198
Step 1  : 4147524